{
  "presets": ["@babel/typescript"],
  "plugins": [
    [
      "transform-builtin-extend",
      {
        "globals": ["Error"],
        "approximate": true
      }
    ],
    "add-module-exports",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "env": {
    "commonjs": {
      "plugins": [
        "add-module-exports",
        [
          "transform-builtin-extend",
          {
            "globals": ["Error"],
            "approximate": true
          }
        ]
      ],
      "presets": [["@babel/env", { "modules": "commonjs" }]]
    },
    "es6": {
      "plugins": [
        [
          "transform-builtin-extend",
          {
            "globals": ["Error"],
            "approximate": true
          }
        ]
      ],
      "presets": [["@babel/env", { "modules": false }]]
    }
  }
}
